# =============== #
# Unity generated #
# =============== #
Temp/
Library/
.vs/
.git/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.vs/UnityGitHubTest/v15/Server/sqlite3/db.lock
/.vs/Test/v15/Server/sqlite3/db.lock
